<p id="notice"><%= notice %></p>

<h1>People</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Father Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Birth Date Time</th>
        <th>Note Data</th>
        <th>Other Data</th>
        <th>Position</th>
        <th>Sex</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.father_name %></td>
          <td><%= person.phone_number %></td>
          <td><%= person.email %></td>
          <td><%= person.birth_data_time %></td>
          <td><%= person.note_data %></td>
          <td><%= person.other_data %></td>
          <td><%= person.position %></td>
          <td><%= person.sex %></td>
          <td>
            <%= link_to 'Show', person, class: "btn btn-sm btn-dark btn-block" %>
          </td>
          <td>
            <%= link_to 'Edit', edit_person_path(person), class: "btn btn-sm btn-warning btn-block" %>
          </td>
          <td>
            <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger btn-block" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Person', new_person_path %>
