<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @person.father_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Birth data time:</strong>
  <%= @person.birth_data_time %>
</p>

<p>
  <strong>Note data:</strong>
  <%= @person.note_data %>
</p>

<p>
  <strong>Other data:</strong>
  <%= @person.other_data %>
</p>

<p>
  <strong>Position:</strong>
  <%= @person.position %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @person.sex %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
