<div id="<%= dom_id tovar %>">
  <p>
    <strong>Length:</strong>
    <%= tovar.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= tovar.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= tovar.height %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tovar.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= tovar.weight %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tovar.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tovar.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= tovar.image %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= tovar.tags %>
  </p>

  <p>
    <strong>Custom data:</strong>
    <%= tovar.custom_data %>
  </p>

  <p>
    <strong>Other data:</strong>
    <%= tovar.other_data %>
  </p>

</div>
