<div id="<%= dom_id persson %>">
  <p>
    <strong>First name:</strong>
    <%= persson.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= persson.last_name %>
  </p>

  <p>
    <strong>Father nane:</strong>
    <%= persson.father_nane %>
  </p>

  <p>
    <strong>Name for contract:</strong>
    <%= persson.name_for_contract %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= persson.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= persson.email %>
  </p>

  <p>
    <strong>Send adress:</strong>
    <%= persson.send_adress %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= persson.role %>
  </p>

  <p>
    <strong>Birth data:</strong>
    <%= persson.birth_data %>
  </p>

  <p>
    <strong>Note data:</strong>
    <%= persson.note_data %>
  </p>

  <p>
    <strong>Other data:</strong>
    <%= persson.other_data %>
  </p>

</div>
