<div id="<%= dom_id tag %>">
  <p>
    <strong>T1:</strong>
    <%= tag.t1 %>
  </p>

  <p>
    <strong>T2:</strong>
    <%= tag.t2 %>
  </p>

  <p>
    <strong>T3:</strong>
    <%= tag.t3 %>
  </p>

  <p>
    <strong>T4:</strong>
    <%= tag.t4 %>
  </p>

  <p>
    <strong>T5:</strong>
    <%= tag.t5 %>
  </p>

  <p>
    <strong>T6:</strong>
    <%= tag.t6 %>
  </p>

  <p>
    <strong>T7:</strong>
    <%= tag.t7 %>
  </p>
</div>
