<div id="<%= dom_id tag %>">
  <p>
    <strong>L1:</strong>
    <%= tag.l1 %>
  </p>

  <p>
    <strong>L2:</strong>
    <%= tag.l2 %>
  </p>

  <p>
    <strong>L3:</strong>
    <%= tag.l3 %>
  </p>

  <p>
    <strong>L4:</strong>
    <%= tag.l4 %>
  </p>

</div>
