<div id="<%= dom_id good %>">
  <p>
    <strong>Length:</strong>
    <%= good.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= good.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= good.height %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= good.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= good.weight %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= good.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= good.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= good.image %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= good.tags %>
  </p>

  <p>
    <strong>Custom data:</strong>
    <%= good.custom_data %>
  </p>

  <p>
    <strong>Other data:</strong>
    <%= good.other_data %>
  </p>

</div>
