<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= organization.short_name %>
  </p>

  <p>
    <strong>Ederpou:</strong>
    <%= organization.ederpou %>
  </p>

  <p>
    <strong>Ipn:</strong>
    <%= organization.ipn %>
  </p>

  <p>
    <strong>Type rent:</strong>
    <%= organization.type_rent %>
  </p>

  <p>
    <strong>Factic address:</strong>
    <%= organization.factic_address %>
  </p>

  <p>
    <strong>Legal address:</strong>
    <%= organization.legal_address %>
  </p>

  <p>
    <strong>Send address:</strong>
    <%= organization.send_adress %>
  </p>

  <p>
    <strong>Number count bank:</strong>
    <%= organization.number_count_bank %>
  </p>

  <p>
    <strong>Mfo:</strong>
    <%= organization.mfo %>
  </p>

  <p>
    <strong>Name and requisites bank:</strong>
    <%= organization.name_and_requisites_bank %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= organization.phone %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= organization.mail %>
  </p>

</div>
