<div id="<%= dom_id sale %>">
  <p>
    <strong>Status:</strong>
    <%= sale.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= sale.note %>
  </p>

  <p>
    <strong>Other data:</strong>
    <%= sale.other_data %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= sale.organization_id %>
  </p>

  <p>
    <strong>Oue organization:</strong>
    <%= sale.oue_organization_id %>
  </p>

  <p>
    <strong>Persson:</strong>
    <%= sale.persson_id %>
  </p>

</div>
